.card{
    margin-bottom: 20px;
  }
  
   @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
  
   /* body
   {
     background: #4a4a4c !important;
   } */
  
   .starrating > input {display: none;}  /* Remove radio buttons */
  
   .starrating > label:before {
     content: "\f005"; /* Star */
     margin: 1px;
     font-size: 1.5em;
     font-family: FontAwesome;
     display: inline-block;
   }
  
   .starrating > label
   {
     color: #222222; /* Start color when not clicked */
   }
  
   .starrating > input:checked ~ label
   { color: #ffca08 ; } /* Set yellow color when star checked */
  
   .starrating > input:hover ~ label
   { color: #ffca08 ;  } /* Set yellow color when star hover */
   body {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;
}