<!-- <app-navbar></app-navbar> -->

<body>
    <div class="container py-5">
        <div class="row text-center text-white">
            <div class="col-lg-8 mx-auto">
                <h1 class="display-4">Available Services</h1>
                <p class="lead mb-0">Click on a service for booking</p>
            </div>
        </div>
    </div>
    <div style="margin-right: 20%;margin-left: 20%;">
        <div style="margin-left: 84%;">


            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{selectedFilter}}
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" (click)="filterBookings('Apply Filter')">Apply Filter</a>
                    <a *ngFor="let status of pricesFilter" class="dropdown-item"
                        (click)="filterBookings(status)">{{status[0]+" to "+status[1]}}</a>
                </div>
            </div>
        </div>

        <div data-toggle="modal" data-target="#exampleModalCenter" *ngFor="let booking of bookings"
            style="margin-top: 20px;" class="bookingcard" (click)="selectService(booking)">

            <div class=" card">
                <div style="display: flex;justify-content: space-between;align-items: center;background-color: #dee6db;"
                    class="card-header">
                    <div style="font-size: 20px;font-weight: bold;">{{booking.foreignServiceId.serviceName}}</div>
                    <!-- <div style="border: 1px solid black; padding: 5px; border-radius: 20px;">{{booking.status}}
                </div> -->

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-10">
                            <h5 class="card-text"><i
                                    class="fas fa-user-alt"></i><label>&nbsp;&nbsp;{{booking.foreignProviderId.providerName}}</label>
                            </h5>
                            <h5 class="card-text"><i class="fa fa-map-marker"
                                    aria-hidden="true"></i><label>&nbsp;&nbsp;{{booking.foreignProviderId.providerLocation}}</label>
                            </h5>
                            <p class="card-text">{{booking.serviceDescription}}</p>

                        </div>
                        <div class="col-sm-2">
                            <p style="font-weight:bold;font-size: 20px;"><i
                                    class="fas fa-rupee-sign"></i><label>&nbsp;{{booking.price}}</label>
                                <br>
                                <label>&nbsp;&nbsp;-{{booking.discount}}%</label>
                                <label>-----------</label>
                            <p style="font-weight:bold;font-size: 20px;padding: 0;"><i
                                    class="fas fa-rupee-sign"></i><label>&nbsp;{{booking.price*(1-(booking.discount/100))}}</label>

                            </p>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group mx-sm-3 mb-2">
                        <p>Do you want to book this Service</p>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="bookService()">Book
                        Service</button>
                </div>

            </div>
        </div>
    </div>
</body>