<header class="jumbotron">
    <div class="align-self-center text-center">
        <h1>Service Request</h1>
        <p>We Provide Services On Demand!</p>
    </div>
    <div class="container input-group">
        <input type="text" class="form-control" [(ngModel)]="searchText" autocomplete="on"
            placeholder="Start searching by name" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>

    </div>
    <ul *ngIf="searchText" class="container align-self-center text-center" style="list-style-type:none;">
        <li style="width:96%; background:white;border-bottom: 3px solid whitesmoke; padding: 5px; overflow: hidden; color: black;"
            *ngFor="let service of allServices | filter:searchText" (click)="goToServiceProvider(service)">
            {{service.serviceName}}
        </li>
    </ul>
</header>

<div class="container align-self-center text-center" style="margin-top: 50px; margin-bottom: 100px;width:800px">
    <div>
        <div class=" card"
            style=" display:flex;float:left ; width: 200px; height:180px; margin-left: 5px; margin-right: 5px; margin-top: 5px; margin-bottom: 5px;"
            *ngFor="let service of displayServices" routerLink='/availableServices'
            [queryParams]="{serviceId: service.serviceName,serviceId:service.serviceId}">
            <img height="100" width="100" class="align-self-center" src={{service.image}} alt={{service.serviceName}}>
            <div class="card-body">
                <p class="card-text">{{service.serviceName }}</p>
            </div>
        </div>
    </div>
</div>